@{
    ViewData["Title"] = "About Relaxed Seating";
}
<h1>@ViewData["Title"]</h1>

<div class="aboutUs">
    <p>Relaxed Seating Refurbished Chairs was founded in October 2021. As a new company, our goal is to
    acquire and refurbish all types of seating objects and give them a touch of love to turn them into
    brand new chairs while still maintaining their original charm.</p>
</div>

<div class="contact">
    <h3>Contact us:</h3>
    <p>By phone: <a href="tel:+15198675309">1-519-867-5309</a></p>
    <p>By email: <a href="mailto:Jenny_Jenny@twotone.ca">Jenny_Jenny@twotone.ca</a></p>
</div>
