@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
}
<div class="intro">
    <h1 class="RSHeader">Relaxed Seating Refurbished Chairs</h1>
    <img id="logo" src="~/Img/RSLogo.jpg" alt="Logo" />
</div>
<div class="displayImages">
    <h2>A look at our inventory</h2>
    <div class="inventoryImages">
        <img src="~/Img/IMG-1374.jpg" />
        <img src="~/Img/IMG-1375.jpg" />
        <img src="~/Img/IMG-1376.jpg" />
        <img src="~/Img/IMG-1377.jpg" />
        <img src="~/Img/IMG-1378.jpg" />
        <img src="~/Img/IMG-1379.jpg" />
        <img src="~/Img/IMG-1380.jpg" />
        <img src="~/Img/IMG-1381.jpg" />
        <img src="~/Img/IMG-1382.jpg" />
        <img src="~/Img/IMG-1383.jpg" />
    </div>
</div>